@font-face {
    font-family: 'Bebas';
    src: url('../fonts/outist.ttf');
}

@font-face {
    font-family: 'Porsche';
    src: url('../fonts/Porsche.ttf');
}

@font-face {
    font-family: 'Chack';
    src: url('../fonts/ChakraPetch-Regular.ttf');
}